.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.table {
  width: 80%;
  text-align: center;
}

#search {
  width: 20%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.btn-xlg {
  padding: 5px 38px;
  font-size: 30px; 
  line-height: normal;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

.add {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 30px;
}

.searchResult {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 25px;
}
